a {
    text-decoration: none !important;
    
    background-color: white;
    color: black !important;
    padding:5px !important;
    text-decoration: none !important; 
    display: inline-block !important;
    border-radius: 5px;
    padding: 4px;
}
@media only screen and (max-width:600px){
    a
    {
        display : none;
    }
}

p, h3 {
    text-align:center;
    font-family: Exo;
    font-size: 14px;
    font-weight: 900;
}
p:active{
    transform: translateY(4px);
}
@media only screen and (max-width:600px){
    p,h3{
        font-size: 8px;
    }
}
@media only screen and (max-width: 320px){
    p,h3{
        font-size: 7px;
    }
}

body {
    padding-top: 10px;
    box-sizing: border-box;
    font-family: "Exo";
}