body{
    height: 50px; 
    background: white;
    font-family: "Exo";
}

p.submenu {
    padding: 10px 0 10px 5px;
    margin: 0px;
    padding-left: 10px;
}

p.submenu.selected {
    color: white; 
    background-color: #07439c;
    cursor: default;
}

.mitem {
    top: 50px;
}

.left {
    width:20%; 
    background-color: #F8F9F9; 
    color:black;
}

.right {
    width:80%; 
    background-color: #F2F3F4; 
    color:black;
    padding: 0px 20px 0px 20px;
}