
<style>
	li{
		position: relative; 
   		display:inline-block; 
	}
	img{
		margin-left: 20px;
		border: inset 1px black;
		border-radius: 50%;
	}
	p{
		margin: 0px;
		margin-left: 20px;
		font-family: "Exo";
		padding: 3px;
	}
</style>
<script>
	monkshu_env.components['image-slider'].loadUserData();
</script>
<div>
	<div><img id="ProfileImage" src="./img/avatar.png" alt="" width="80px" height="80px"></div>
	<div><p id="user_name">Name</p></div>
	<div><p id="user_desig">Desig</p></div>
</div>
