<script>
  monkshu_env.components['crumb-nav'].loadImage();
</script>
<style>
    .nav ul { 
    background:#1e324b; 
    padding:0;
    }
 
 .nav li { 
   /* width:100px; */
   position: relative; 
   display:inline-block; 
   border-radius: 50%;
 }
 
 
 .nav a{ 
   text-decoration:none; 
   display:block; 
   color:black; 
   /* padding:1px; */
   transition:0.2s all linear;
   font-size: 0.7em;
 }
 
 .nav a:hover{
   background:#e3f2fd;
   color:#1e324b;
   transition:0.2s all linear;
 }
 
 .nav li > ul { 
   background:white; 
   display:none;
   position:absolute;
 }
 
 .nav li > ul li{ display:block; }
 
 .nav li:hover  > ul{
   display:block;
 }

 #options{
     padding: 10px;
 }
 #profile-button:hover{
   background: none;
 }
</style>

<div class="nav">
    <ul>
      <li><a href="#" id="profile-button"><img src="./img/plus.png" alt="" id="userImage"  width="30px" height="30px" style="border-radius: 50%;"></a>
          <ul>
              <a href="#" id="options" onclick="monkshu_env.components['crumb-nav'].redirect()">Profile</a>
              <a href="#" id="options" onclick="monkshu_env.components['crumb-nav'].logout()">Logout</a>
          </ul>
      </li>
    </ul>
  </div>