<!-- 
(C) 2015 TekMonks. All rights reserved.
License: GPL2 - see enclosed license.txt file.
-->

<!doctype html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<link href="./pages/common/common.css" rel="stylesheet">
	<link href="./img/favicon.ico" rel="icon" type="image/x-icon">
	
	<script type="text/javascript" src="./3p/aes.js"></script>
    <script type="text/javascript" src="./3p/crypt.js"></script>

	<script type="module">
	import {content_post} from "./components/content-post/content-post.mjs"; content_post.register();
	import {form_generator} from "./components/form-generator/form-generator.mjs"; form_generator.register();
	import {editDetailform} from "./js/editDetailform.mjs"; window.webscrolls_env.editDetailform = editDetailform;
	import {multipleSelect} from "./components/multipleSelect/multipleSelect.mjs"; multipleSelect.register();
	import {page_generator} from "./components/page-generator/page-generator.mjs"; page_generator.register();
	
	</script>
	<title>{{i18n.Title}}</title>
</head>

<body style="margin: 0%" onload="window.webscrolls_env.editDetailform.editDetail()">

<page-generator file="./pages/editdetail/editdetail.page"></page-generator>

<div id="refill" class="modal">

	<div class="modal-content">
	  <!-- <span class="close">&times;</span> -->
	  <p id="message_return"></p>
	  
	  <button id="ok">OK</button>
  
	</div>
  
  </div>

  <div id="check" class="modal">

	<div class="modal-content">
	  <!-- <span class="close">&times;</span> -->
	  <p id="info"></p>
	  
	  <button id="yes">Yes</button>
	  <button id="no">No</button>
  
	</div>
  
  </div> 

</body>
</html>
