<!-- 
(C) 2015 TekMonks. All rights reserved.
License: GPL2 - see enclosed license.txt file.
-->

<!doctype html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<link href="./pages/common/common.css" rel="stylesheet">
	<link href="./img/favicon.ico" rel="icon" type="image/x-icon">
	
	<script type="text/javascript" src="./3p/aes.js"></script>
    <script type="text/javascript" src="./3p/crypt.js"></script>

	<script type="module">
	
	import {content_post} from "./components/content-post/content-post.mjs"; content_post.register();
	import {form_generator} from "./components/form-generator/form-generator.mjs"; form_generator.register();
	import {adminform} from "./js/adminform.mjs"; window.webscrolls_env.adminform = adminform;
	import {page_generator} from "./components/page-generator/page-generator.mjs"; page_generator.register();
	import {crumb_nav} from "./components/crumb-nav/crumb-nav.mjs"; crumb_nav.register();
	import {image_slider} from "./components/image-slider/image-slider.mjs"; image_slider.register();

	</script>
	
	<title>{{i18n.Title}}</title>
</head>

<body style="margin: 0px;" onload="window.webscrolls_env.adminform.change();">

<page-generator file="./pages/admin/admin.page"></page-generator>

<div id="logout" class="modal">

	<div class="modal-content">
	  <!-- <span class="close">&times;</span> -->
	  <p id="info"></p>
	  
	  <button id="yes">Yes</button>
	  <button id="no">No</button>
  
	</div>
  
  </div> 

  <div id="reject" class="modal">

	<div class="modal-content" id="reject-part">
	  <!-- <span class="close">&times;</span> -->
	  <p id="info"></p>
	  <textarea id="reject_reason" required rows="5" cols="40" placeholder="Provide your Reason here..." style="margin:0px;"></textarea><br>
	  <button type="button" id="accept">OK</button>
	  <button id="cancel">Cancel</button>
	</div>
  
  </div> 
  
  <div id="status" class="modal">

	<div class="modal-content" id="status-modal">
	  <!-- <span class="close">&times;</span> -->
	  <div style="display: grid; grid-template-columns: 1fr 1fr 2fr;padding:0px;">
			<p id="name" style="font-weight:bold;">Name</p>
			<p id="status" style="font-weight:bold;">Status</p>
			<p id="reason" style="font-weight:bold;">Reason</p>

			<p id="nameID" style="font-weight:200;border-right: solid 1px black;margin-right: 10%;"></p>
			<p id="statusID" style="font-weight:200;border-right: solid 1px black;margin-right: 10%;"></p>
			<p id="reasonID" style="font-weight:200;"></p>
	  </div>
	  
	  <button id="ok">OK</button>
  
	</div>
  
  </div> 

  <div id="calender" class="modal">
	<div class="modal-content3">
		<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 0.1fr;padding:0px;text-align: center;align-items: center;">
			<p id="holiday" style="font-weight:bold;">Hoilday</p>
			<p id="dates" style="font-weight:bold;">Date</p>
			<p id="day" style="font-weight:bold;">Day</p>
			<div></div>

			<p id="hoilday_value" style="border-right: solid 1px black;"></p>
			<p id="dates_value" style="border-right: solid 1px black;"></p>
			<p id="day_value"></p>
			<div id="delete"></div>

			<!-- <input type="text" style="width: 70%; align-items:center;">
			<input type="date" style="width: 80%; align-items:center;">
			<input type="text" style="width: 70%; align-items:center;"> -->

		</div>
		<button id="submit_button">Ok</button>

	</div>
</div>

</body>
</html>
