<!-- 
(C) 2015 TekMonks. All rights reserved.
License: GPL2 - see enclosed license.txt file.
-->

<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="./pages/common/common.css" rel="stylesheet">
	<link href="./img/favicon.ico" rel="icon" type="image/x-icon">
	
	<script type="text/javascript" src="./3p/aes.js"></script>
    <script type="text/javascript" src="./3p/crypt.js"></script>

	<script type="module">
	import {content_post} from "./components/content-post/content-post.mjs"; content_post.register();
	import {form_generator} from "./components/form-generator/form-generator.mjs"; form_generator.register();
	import {resetform} from "./js/resetform.mjs"; window.webscrolls_env.resetform = resetform;
	import {page_meta} from "./components/page-meta/page-meta.mjs"; page_meta.register();
	import {page_generator} from "./components/page-generator/page-generator.mjs"; page_generator.register();
	
	</script>
	<title>{{i18n.Title}}</title>
</head>

<body style="margin: 0%" onload="window.webscrolls_env.resetform.loadData()">

<page-generator file="./pages/reset/reset.page"></page-generator>

<div id="refill" class="modal">

	<div class="modal-content">
	  <!-- <span class="close">&times;</span> -->
	  <p id="message_return"></p>
	  
	  <button id="ok">OK</button>
  
	</div>
  
  </div>

<div id="logout" class="modal">

	<div class="modal-content">
	  <!-- <span class="close">&times;</span> -->
	  <p id="info"></p>
	  
	  <button id="yes">Yes</button>
	  <button id="no">No</button>
  
	</div>
  
  </div>  

<div id="calender" class="modal">
	<div class="modal-content3">
		<h3>Add a Holiday:</h3>
		<div style="display: grid; grid-template-columns: 1fr 2fr;padding:0px;align-items: center;">
			<p id="dates" style="font-weight:bold;">Date:</p>
			<p id="holiday" style="font-weight:bold;">Name:</p>

			<input type="date" id="date_holiday" style="width: 80%; align-items:center;">
			<input type="text" id="name_holiday"style="width: 70%; align-items:center;">
		</div>
		<p id="message" style="color: red;"></p>
		<button id="submit_button">Ok</button>
		<button id="cancel">Cancel</button>

	</div>
</div>

</body>
</html>
