<!-- 
(C) 2015 TekMonks. All rights reserved.
License: GPL2 - see enclosed license.txt file.
-->

<!doctype html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<link href="./pages/common/common.css" rel="stylesheet">
	<link href="./img/favicon.ico" rel="icon" type="image/x-icon">
	
	<script type="text/javascript" src="./3p/aes.js"></script>
    <script type="text/javascript" src="./3p/crypt.js"></script>

	<script type="module">
	import {content_post} from "./components/content-post/content-post.mjs"; content_post.register();
	import {form_generator} from "./components/form-generator/form-generator.mjs"; form_generator.register();
	import {userlistform} from "./js/userlistform.mjs"; window.webscrolls_env.userlistform = userlistform;
	import {page_meta} from "./components/page-meta/page-meta.mjs"; page_meta.register();
	import {page_generator} from "./components/page-generator/page-generator.mjs"; page_generator.register();
	import {crumb_nav} from "./components/crumb-nav/crumb-nav.mjs"; crumb_nav.register();
	import {image_slider} from "./components/image-slider/image-slider.mjs"; image_slider.register();

	</script>
	<title>{{i18n.Title}}</title>
</head>

<body style="margin: 0%" onload="window.webscrolls_env.userlistform.updateList()">

<page-generator file="./pages/userlist/userlist.page"></page-generator>

<div id="refill" class="modal">

	<div class="modal-content">
	  <!-- <span class="close">&times;</span> -->
	  <p id="message_return"></p>
	  
	  <button id="ok">OK</button>
  
	</div>
  
  </div>

<div id="logout" class="modal">

	<div class="modal-content">
	  <!-- <span class="close">&times;</span> -->
	  <p id="info"></p>
	  
	  <button id="yes">Yes</button>
	  <button id="no">No</button>
  
	</div>
  
  </div>   


<div id="status" class="modal">

	<div class="modal-content2" id="status-modal">
	  <!-- <span class="close">&times;</span> -->
	  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;padding:0px;">
			<p id="type" style="font-weight:bold;">Type</p>
			<p id="from" style="font-weight:bold;">From</p>
			<p id="to" style="font-weight:bold;">To</p>
			<p id="status" style="font-weight:bold;">Status</p>

			<p id="typeID" style="font-weight:200;border-right: solid 1px black;margin-right: 10%;overflow-y: inherit;"></p>
			<p id="fromID" style="font-weight:200;border-right: solid 1px black;margin-right: 10%;overflow-y: auto"></p>
			<p id="toID" style="font-weight:200;border-right: solid 1px black;margin-right: 10%;overflow-y: auto"></p>
			<p id="statusID" style="font-weight:200;"></p>
	  </div>
	  
	  <button id="ok_button">OK</button>
  
	</div>
  
  </div> 

<div id="complementary" class="modal">
	<div class="modal-content">
		<p id="emp-info"></p>
		<input type="number" id="leaves" name="CompLeaves" step="0.5" min="0">
		<br>
		<button id="accept">Add</button>
		<button id="cancel_button">Cancel</button>
	</div>

	
</div>

<div id="calender" class="modal">
	<div class="modal-content3">
		<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 0.1fr;padding:0px;text-align: center;align-items: center;">
			<p id="holiday" style="font-weight:bold;">Hoilday</p>
			<p id="dates" style="font-weight:bold;">Date</p>
			<p id="day" style="font-weight:bold;">Day</p>
			<div></div>

			<p id="hoilday_value" style="border-right: solid 1px black;"></p>
			<p id="dates_value" style="border-right: solid 1px black;"></p>
			<p id="day_value"></p>
			<div id="delete"></div>

			<!-- <input type="text" style="width: 70%; align-items:center;">
			<input type="date" style="width: 80%; align-items:center;">
			<input type="text" style="width: 70%; align-items:center;"> -->

		</div>
		<button id="submit_button">Ok</button>

	</div>
</div>

</body>
</html>
