SCHEMA
======
{
    "metadata": {"html":"page-meta", "files":"./articles/{{url.article_path}}/metadata.{{lang}}.txt"},

    "headerimg": {"html":"content-post", "article":".article/header.md", "styleContainer":"background:#1e324b;color:white;", "styleArticle":"url(./pages/common/footer.styleArticle.css)"},

    "block": {"html":"form-generator", "file":"./forms/block.form", "id":"contactform"},

    "block2": {"html":"form-generator", "file":"./forms/block2.form", "id":"contactform"},

    "contactform": {"html":"form-generator", "file":"./forms/info.form", "id":"contactform","class":"form"},

    "sidebar": {"html":"page-generator", "file":"./pages/article/article.sidebar", "id":"sidebar"},

    "empLeave": {"html":"form-generator", "file":"./forms/empLeave.form", "id":"contactform","class":"formPart"},
    
    "footer": {"html":"content-post", "article":".home/footer.md", "id":"footer", "styleContainer":"background:#efefef;height:270px;width:100%;color:white;", "styleArticle":"url(./pages/common/footer.styleArticle.css)"},
    
    "copyrights": {"html":"content-post", "article":".home/copyright.md", "id":"copyright", "styleContainer":"background:#efefef;height:60px;color:#787878;", "styleArticle":"url(./pages/common/copyrights.styleArticle.css)"}
}
======


LAYOUT
=================
-----------------------------
| metadata                  |
-----------------------------
| headerimg                 |
-----------------------------
|     block  |  block2      |
-----------------------------
| sidebar    |  empLeave    | 
-----------------------------
|       contactform         |
-----------------------------
| copyrights                |
-----------------------------
=================
Row Heights = 0px, 270px, 100px, 350px, max-content, 60px
Col Widths = 22%, 78%
=================


CSS CLASSES
===========
CONTAINER CLASSES = grid-container-extension
ITEM CLASSES = grid-item-extension
PER ITEM CLASS = class
===========

CSS
=======

body{
  margin: 0;
}
.grid-container-extension {
    height: 100%;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
=======