select{
    width: 401px;
    height:80px;
    padding-bottom: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-family: Exo;
    background-color: #ffffff;
    margin: 0px;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    select{
        width: 100px;
    }
}