<style>
    .table{
        display: table;
    }
    .table-header{
        display: table-header-group;
    }
    .table-sub-headings{
        display: table-column;
    }
</style>

<div class="table">
    <div class="table-header">
        <h2>Leave Details</h2>
    </div>
    <div class="table-sub-headings">
        <div class="sub-heads">Leave Type</div>
        <div class="sub-heads">Alloted Leaves</div>
        <div class="sub-heads">Leave Taken</div>
        <div class="sub-heads">Remaining Leaves</div>
    </div>
    <div class="table-items">
        <div class="table-data"></div>
        <div class="table-data"></div>
        <div class="table-data"></div>
        <div class="table-data"></div>
    </div>
</div>