<!--
/* 
 * (C) 2019 TekMonks. All rights reserved.
 * License: MIT - see enclosed license.txt file.
 */
 -->

<style>
*{margin: 0px;}
body {width: 100%;}

#container {width: 100%;}

a:link, a:visited, a:active {color: inherit; text-decoration: none;}

a:hover {color: inherit; text-decoration: underline;}
</style>

{{{styleBody}}}

<div id="container" {{{style}}}><article>{{{styleArticle}}}{{{article}}}</article></div>