/* 
 * (C) 2015 TekMonks. All rights reserved.
 * License: GPL2 - see enclosed license.txt file.
 */

 @import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
 
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .Logout-drop{
        display: none;
        position: absolute;
    }
    /* Modal Content */
.modal-content, .modal-content2, .modal-content3 {
    background-color: white;
    border-radius: 20px;
    margin: auto;
    float: center;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    font-family: "Exo";
    }
.modal-content3{
    /* width: max-content; */
    min-width: 40%;
}
#status-modal{
    width: 600px;
}
    /* The Close Button */
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    #accept:focus {outline: none;}
    #accept,#yes,#submit_button{
        width: 20%;
        border: 0;
        height:35px;
        background: green;
        color: white;
        font-family: "Exo";
        font-size: 16px;
        color: #ffffff;
        font-weight: 900;
        text-align: center;
        font-style: normal;
        margin-top: 3%;
        border-radius: 5px;
    }
    #yes:hover {background-color: #73bf60}
    #yes:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
    #accept:hover {background-color: #73bf60}
    #accept:active,#submit_button:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
    
    #cancel:focus {outline: none;}
    #cancel,#no,#cancel_button{
        width: 20%;
        border: 0;
        height:35px;
        background: red;
        color: white;
        font-family: "Exo";
        font-size: 16px;
        color: #ffffff;
        font-weight: 900;
        text-align: center;
        font-style: normal;
        margin: auto;
        border-radius: 5px;
        margin-left: 10%;
    }
    #no:hover {background-color: #f27b5a}
    #no:active {
        background-color: red;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    #cancel:hover,#cancel_button:hover {background-color: #f27b5a}
    #cancel:active,#cancel_button:active {
        background-color: red;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #ok:focus, #ok_button:focus, #submit-button:focus {outline: none;}
    #ok,#ok_button{
        width: 20%;
        border: 0;
        height:35px;
        background: red;
        color: white;
        font-family: "Exo";
        font-size: 16px;
        color: #ffffff;
        font-weight: 900;
        text-align: center;
        font-style: normal;
        margin: auto;
        border-radius: 5px;
        margin-left: 10%;
    }
    #reject_reason{
        width: 90%;
    }
    #ok:hover, #ok_button:hover {background-color: #f27b5a}
    #ok:active, #ok_button:active {
        background-color: red;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    @media only screen and (max-width: 600px) {

        #accept,#cancel,#ok,#yes,#no,#cancel_button,#submit-button{
            width: 40%;
            height: 20px;
            font-size: 12px;
        }
        .modal-content{
            width: 50%;
            font-size: 14px;
        }
        .modal-content2{
            width: 50%;
            font-size: 10.5px;        
        }
        .modal-content3{
            width: 70%;
            font-size: 10.5px;
        }
        #status-modal{
            width: 80%;
        }
        #reject_reason{
            width: 90%;
        }
        #reject-part{
            width: 80%;
        }
    }
    