a:hover{ text-decoration:none;
}
.date{
    border: solid 1px white;
    border-radius: 5px;
    width: fit-content;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: -400%;
    font-size: small;
}
@media only screen and (max-width: 600px) {
    .date{
        display: none;
    }
}
table{
    /* width: 100%; */
    /* table-layout: fixed; */
    padding: 20px;
    font-family: Exo;
}
table th{
    font-size: 19px; 
    color:#07439c;
    width:20%;
    font-family: Exo;
}
tr th{  width:200%;  }
tr th + th {  width:20%;  }
tr th + th + th {  width:20%;  }
tr th + th + th + th{  width:20%;}
td {  
    /* color:#787878;   */
    font-weight: 500; 
    padding-right:0px;
}
tr td { padding-right:30px;}

@media only screen and (max-width: 320px){
    tr td{ padding-right: 15px;}
}

